In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train=pd.read_csv('train_df.csv', sep=',')
test=pd.read_csv('test_df.csv', sep=',')
train.head()

,search_id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_70,feature_71,feature_72,feature_73,feature_74,feature_75,feature_76,feature_77,feature_78,target
0,758,9,0,0,1,20,3,40,0,3,...,0.204682,0.271755,0.055623,0,0,0,0.38648,0.0,0.0,0
1,758,9,0,0,1,20,3,40,0,3,...,0.195531,0.188787,0.036914,0,0,0,0.10982,0.0,0.0,0
2,758,9,0,0,1,20,3,40,0,3,...,0.148609,0.186517,0.027718,0,0,0,0.03674,0.0,0.0,0
3,758,9,0,0,1,20,3,40,0,3,...,0.223748,0.229039,0.051247,0,0,0,0.00000,0.0,0.0,0
4,758,9,0,0,1,20,3,40,0,3,...,0.170935,0.249031,0.042568,0,0,0,0.00000,0.0,0.0,0

In [3]:
train.describe()

,search_id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_70,feature_71,feature_72,feature_73,feature_74,feature_75,feature_76,feature_77,feature_78,target
count,15081.000000,15081.0,15081.000000,15081.000000,15081.000000,15081.000000,15081.000000,15081.000000,15081.000000,15081.000000,...,15081.000000,15081.000000,15081.000000,15081.0,15081.0,15081.0,15081.000000,15081.000000,15081.000000,15081.000000
mean,254806.827465,9.0,0.193754,0.464293,0.629865,15.928519,3.876401,33.802467,1.211193,1.793847,...,0.199545,0.426543,0.096461,0.0,0.0,0.0,0.297465,0.030543,0.031207,0.021351
std,142374.568081,0.0,0.626654,1.183076,0.482857,5.311422,0.469749,11.316810,2.234887,1.885131,...,0.088724,0.247388,0.063323,0.0,0.0,0.0,0.311962,0.112984,0.115598,0.144558
min,116.000000,9.0,0.000000,0.000000,0.000000,9.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000
25%,134823.000000,9.0,0.000000,0.000000,0.000000,9.000000,4.000000,26.000000,0.000000,0.000000,...,0.168583,0.255086,0.052658,0.0,0.0,0.0,0.036740,0.000000,0.000000,0.000000
50%,255859.000000,9.0,0.000000,0.000000,1.000000,20.000000,4.000000,34.000000,0.000000,2.000000,...,0.212743,0.430880,0.091705,0.0,0.0,0.0,0.176140,0.000000,0.000000,0.000000
75%,376175.000000,9.0,0.000000,0.000000,1.000000,20.000000,4.000000,44.000000,1.000000,3.000000,...,0.253825,0.603686,0.136017,0.0,0.0,0.0,0.529100,0.000000,0.000000,0.000000
max,496975.000000,9.0,3.000000,6.000000,1.000000,20.000000,6.000000,49.000000,7.000000,7.000000,...,0.485510,0.999072,0.411563,0.0,0.0,0.0,1.000020,0.846272,0.908132,1.000000

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15081 entries, 0 to 15080
Data columns (total 81 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   search_id   15081 non-null  int64
 1   feature_0   15081 non-null  int64
 2   feature_1   15081 non-null  int64
 3   feature_2   15081 non-null  int64
 4   feature_3   15081 non-null  int64
 5   feature_4   15081 non-null  int64
 6   feature_5   15081 non-null  int64
 7   feature_6   15081 non-null  int64
 8   feature_7   15081 non-null  int64
 9   feature_8   15081 non-null  int64
 10  feature_9   15081 non-null  int64
 11  feature_10  15081 non-null  int64
 12  feature_11  15081 non-null  int64
 13  feature_12  15081 non-null  int64
 14  feature_13  15081 non-null  int64
 15  feature_14  15081 non-null  int64
 16  feature_15  15081 non-null  int64
 17  feature_16  15081 non-null  float64
 18  feature_17  15081 non-null  float64
 19  feature_18  15081 non-null  float64
 20  feature_19  15081 non-null  float64
 21  feature_20  15081 non-null  float64
 22  feature_21  15081 non-null  float64
 23  feature_22  15081 non-null  float64
 24  feature_23  15081 non-null  float64
 25  feature_24  15081 non-null  float64
 26  feature_25  15081 non-null  float64
 27  feature_26  15081 non-null  float64
 28  feature_27  15081 non-null  float64
 29  feature_28  15081 non-null  float64
 30  feature_29  15081 non-null  float64
 31  feature_30  15081 non-null  float64
 32  feature_31  15081 non-null  float64
 33  feature_32  15081 non-null  float64
 34  feature_33  15081 non-null  float64
 35  feature_34  15081 non-null  float64
 36  feature_35  15081 non-null  float64
 37  feature_36  15081 non-null  float64
 38  feature_37  15081 non-null  float64
 39  feature_38  15081 non-null  float64
 40  feature_39  15081 non-null  float64
 41  feature_40  15081 non-null  float64
 42  feature_41  15081 non-null  float64
 43  feature_42  15081 non-null  float64
 44  feature_43  15081 non-null  float64
 45  feature_44  15081 non-null  float64
 46  feature_45  15081 non-null  float64
 47  feature_46  15081 non-null  float64
 48  feature_47  15081 non-null  float64
 49  feature_48  15081 non-null  float64
 50  feature_49  15081 non-null  float64
 51  feature_50  15081 non-null  float64
 52  feature_51  15081 non-null  float64
 53  feature_52  15081 non-null  float64
 54  feature_53  15081 non-null  float64
 55  feature_54  15081 non-null  float64
 56  feature_55  15081 non-null  float64
 57  feature_56  15081 non-null  float64
 58  feature_57  15081 non-null  float64
 59  feature_58  15081 non-null  float64
 60  feature_59  15081 non-null  float64
 61  feature_60  15081 non-null  float64
 62  feature_61  15081 non-null  float64
 63  feature_62  15081 non-null  float64
 64  feature_63  15081 non-null  float64
 65  feature_64  15081 non-null  float64
 66  feature_65  15081 non-null  float64
 67  feature_66  15081 non-null  float64
 68  feature_67  15081 non-null  float64
 69  feature_68  15081 non-null  float64
 70  feature_69  15081 non-null  float64
 71  feature_70  15081 non-null  float64
 72  feature_71  15081 non-null  float64
 73  feature_72  15081 non-null  float64
 74  feature_73  15081 non-null  int64
 75  feature_74  15081 non-null  int64
 76  feature_75  15081 non-null  int64
 77  feature_76  15081 non-null  float64
 78  feature_77  15081 non-null  float64
 79  feature_78  15081 non-null  float64
 80  target      15081 non-null  int64
dtypes: float64(60), int64(21)
memory usage: 9.3 MB

In [5]:
train.isnull().sum()

search_id     0
feature_0     0
feature_1     0
feature_2     0
feature_3     0
             ..
feature_75    0
feature_76    0
feature_77    0
feature_78    0
target        0
Length: 81, dtype: int64

In [6]:
train_gr=train.groupby('search_id').mean()
test_ge=test.groupby('search_id').mean()

In [7]:
X_train=train_gr.drop(['target'],axis=1)
y_train=train_gr['target']
X_test = test_ge.drop([ 'target'], axis=1)
y_test = test_ge['target']

In [8]:
import xgboost as xgb
import numpy as np
from sklearn.metrics import make_scorer
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import ndcg_score

def ndcg(y_true, y_pred):
    y_true_binary = np.asarray(y_true)
    y_pred_binary = np.asarray(y_pred)
    return ndcg_score([y_true_binary], [y_pred_binary], k=len(y_true))

dtrain = xgb.DMatrix(X_train, label=y_train)

param_grid = {
    'max_depth': [3, 5, 7],
    'learning_rate': [0.05, 0.1],
    'colsample_bytree': [0.8, 0.9, 1.0],
    'n_estimators': [100, 200, 300]
}

model = xgb.XGBRegressor(objective='reg:squarederror')

ndcg_scorer = make_scorer(ndcg)

grid_search = GridSearchCV(estimator=model, param_grid=param_grid, scoring=ndcg_scorer, cv=5)

grid_search.fit(X_train, y_train)

print("Лучшие параметры:", grid_search.best_params_)

best_model = grid_search.best_estimator_

y_pred_test = best_model.predict(X_test)

ndcg_test = ndcg(y_test, y_pred_test)
print(f"NDCG на тестовых данных: {ndcg_test}")

Лучшие параметры: {'colsample_bytree': 0.8, 'learning_rate': 0.05, 'max_depth': 3, 'n_estimators': 200}
NDCG на тестовых данных: 0.8790588041482211